DB_MASTER_HOST=db_host
DB_MASTER_USER=db_user
DB_MASTER_PASS=db_password
DB_MASTER_NAME=db_name

DB_MA_HOST=db_host
DB_MA_USER=db_user
DB_MA_PASS=db_password
DB_MA_NAME=db_name

# 스케쥴링 푸시, 리타겟 큐 체크 dalay (분)
SCHEDULING_CHECK_DELAY=1

# 상품정보 가져오는 API
PRODUCT_API=https://api.byapps.co.kr/product
; PRODUCT_API=https://api-alpha.byapps.co.kr/product
; PRODUCT_API=https://api-dev.byapps.co.kr/product

# product API key
PRODUCT_KEY=key

# 잔디 웹훅 URL (서비스 모니터링 방)
JANDI_WEBHOOK_URL=https://wh.jandi.com/connect-api/webhook/19561036/4b2c533abd22c4923e0ba6e9debc871a